body{
    background-color: #874747;
} 
p{
    color:darkorange;
    font-size: 30px;
    text-align: justify;
    /* para comentar */
}
h1{
    color:white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
h3
{
    color:green;
    background: white;
    text-align: center;
}