{# Permite dejar comentarios    #}
{% extends "plantillaBase.html" %}

{% block tituloPestana %} Administración de Marcas {% endblock %}
{% block titulo %} Marcas {% endblock %}
{% block mensaje %} 
    {% if exito %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ exito }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
{% endblock %}
{% block contenido %}
<form method=POST action={% url 'marca' %}>
    {% csrf_token %}
    <div class="row">
        <div class="col-2 offset-2">id</div>
        <div class="col-5"><input type="text" name="id" class="form-control" value={{ item.idMarca }}></div>
    </div>
    <div class="row">
        <div class="col-2 offset-2">Nombre</div>
        <div class="col-5"><input type="text" name="nombre" class="form-control" value={{ item.nombre }}></div>
    </div>
    <div class="row">
        <div class="col-2 offset-2">Activo</div>
        <div class="col-5"><input type="checkbox" name="activo" class="select-control" {{ item.activo|yesno:"checked,''"  }}></div>
    </div>
    <br>
    <div class="row">
        <div class="col-2 offset-2">Opciones</div>
        <div class="col-5">
            <input type="submit" name="Grabar" class="btn btn-danger" value="Grabar">
            <input type="submit" name="Listar" class="btn btn-warning" value="Listar">
            <input type="submit" name="Buscar" class="btn btn-success" value="Buscar">
            <input type="submit" name="Eliminar" class="btn btn-primary" value="Eliminar">
        </div>
    </div>
</form>
{% endblock %}
{% block listado %} 
    {% if listado %}
        <table class="table table-responsive table-striped table-bordered mt-3">
            <tr>
                <th>id
                <th>Nombre
                <th>Activo
            </tr>
        {% for marca in listado %}
            <tr>
                <td>{{ marca.idMarca }}</td>
                <td>{{ marca.nombre }}</td>
                <td>{{ marca.activo }}</td>

            </tr>
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}